# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:canny-stork-272 # team: darlan-h, project: orteria

VITE_CONVEX_URL=https://canny-stork-272.convex.cloud

VITE_CONVEX_SITE_URL=https://canny-stork-272.convex.site

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

CLICKUP_API_KEY=
